[submodule ".vim/pack/default/start/vim-sensible"]
	path = .vim/pack/default/start/vim-sensible
	url = https://github.com/tpope/vim-sensible
[submodule ".vim/pack/default/start/vim-polyglot"]
	path = .vim/pack/default/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule ".vim/pack/default/start/vim-endwise"]
	path = .vim/pack/default/start/vim-endwise
	url = https://github.com/tpope/vim-endwise
[submodule ".vim/pack/default/start/space-vim-theme"]
	path = .vim/pack/default/start/space-vim-theme
	url = https://github.com/liuchengxu/space-vim-theme
